body {
  margin: 0;
  font-family: Arial;
  background: #f3f7fb;
}

/* NAVBAR */
.navbar {
  background: #3e6589;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 12px 25px;
}

.nav-links span {
  margin-left: 20px;
  cursor: pointer;
  opacity: 0.8;
}

.nav-links .active {
  border-bottom: 2px solid yellow;
  opacity: 1;
}

/* LAYOUT */
.container {
  padding: 20px;
}

.title {
  margin-bottom: 15px;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.card {
  background: white;
  padding: 18px;
  border-radius: 10px;
  border: 1px solid #dce3ea;
  margin-bottom: 15px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.box {
  background: #f7fafc;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #f1f5f9;
  padding: 10px;
  text-align: left;
}

td {
  padding: 10px;
  border-top: 1px solid #e2e8f0;
}

.ok {
  color: green;
}

.bad {
  color: red;
}

.warn {
  color: orange;
}

/* ALERT */
.alert .red {
  color: red;
}
.alert .yellow {
  color: orange;
}
.alert .blue {
  color: blue;
}

/* CIRCLE */
.center {
  text-align: center;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 8px solid #4caf50;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 22px;
  font-weight: bold;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
  }
}